<footer class="footer">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr>
          <div class="copyrightNic d-flex align-items-center">
            <div class="nicImg me-4">
              <a href="" id="copyrightLink" target="_blank">
                <img src="./assets/img/karmayogiLogo.svg" alt="National informatics center" class="footer-logo" height="30px">
              </a>
            </div>
            <p class="f-12 f-500">{{footerDetails.copyRights}}</p>
          </div>
        </div>
      </div>
    </div> 
    <div class="govt-logo">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-12 col-md-12">
            <div class="govlogo d-flex flex-wrap justify-content-between ">
              <p><a href="https://cbc.gov.in/" target="_blank"><img src="./assets/img/cbc.png" alt="CBC logo"></a></p>
              <p><a href="https://dopt.gov.in/" target="_blank" class="dopt_link"><img src="./assets/img/dopt.png"
                    alt="DOPT logo"></a></p>

              <p><a href="https://www.mygov.in/" target="_blank"><img src="./assets/img/mygov-footer-logo.png"
                    alt="Mygov logo"></a></p>
              <p><a href="https://data.gov.in/" target="_blank"><img src="./assets/img/data-gov-logo.png"
                    alt="Data gov logo"></a></p>
              <p><a href="https://www.digitalindia.gov.in/" target="_blank"><img src="./assets/img/digital-india-logo.png"
                    alt="Digital India logo"></a></p>

              <p><a href="https://www.meity.gov.in/ " target="_blank"><img src="./assets/img/Meity_logo.png"
                    alt="Meity logo"></a></p>
              <p><a href="https://www.pmindia.gov.in/en/" target="_blank"><img src="./assets/img/pm-india-logo.png"
                    alt="PM india logo"></a></p>
              <p><a href="https://www.india.gov.in/" target="_blank"><img src="./assets/img/india-gov-logo.png"
                    alt="India gov logo"></a></p>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </footer>


  <div class="need_help_box" style="display:none">
    <a class="rotate need_help_btn" id="needHelpLink" href="">
    Need help?  </a>
  </div>
