

<div class="view-cbp-plan">
    <div class="popup-container">
    <div class="popup-header">
        <div>
            <div class="heading">Save Courses</div>
        </div>
        <div class="cursor-pointer" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <div class="section-container">
        <div class="role-mapping-container">
            <div class="container">
                <mat-card class="mt-2">
                    <div class="section-header">
                        <div class="sub-heading">
                            <!-- <p>Save Courses</p> -->
                        </div>
                        <div class="btn-group">
                            <div>
                                <input class="btn-active" type="button" value="Suggest More Course From iGOT" (click)="suggestMoreCourses()"/>
                            </div>
                            <div class="pl-2">
                                <input [disabled]="selectFilterCourses?.length > 0 ? false : true" [ngClass]="selectFilterCourses?.length > 0 ? 'btn-active' : 'btn-disable'" type="button" [value]="mode === 'add' ? 'Add Courses' : 'Update Courses'" (click)="saveCourses()"/>
                            </div>
                        </div>
                    </div>
                    <div class="edit-section mt-4">
                        <div class="select-map-route-container">
                            <div class="selected-mapping-route">
                                <p>{{sharedService?.cbpPlanFinalObj?.ministry?.name}} <span *ngIf="sharedService?.cbpPlanFinalObj?.sectors && sharedService?.cbpPlanFinalObj?.sectors.length">/{{getSectors(sharedService?.cbpPlanFinalObj?.sectors)}}</span></p>
                            </div>
        
                        </div>
                    </div>
                    <div class="search-filter-section mt-4">
                        <div class="search flex margin-right-m">
                            <label class="label">Search</label>
                            <div>
                                <div class="search-container mt-2">
                                    <div class="rsearch">
                                        <mat-icon
                                            class="color-60 search-icon mat-icon notranslate material-icons mat-icon-no-color">search</mat-icon>
                                        <input class="sinput color-60 w-full" [(ngModel)]="searchText"
                                             label="" (input)="applyFilter();$event.preventDefault();"
                                            placeholder="Search Courses" type="Standard">
                                    </div>
                                    <!-- <div class="pl-2 mt-2">
                                        <input class="btn-disable" type="button" value="Search" />
                                    </div> -->
                                </div>
        
        
                            </div>
                        </div>
                    </div>
                    <div class="mt-4"  *ngIf="filterdCourses?.length">
                        <div>
                            <mat-checkbox [checked]="false" (change)="selectAllCourses($event)">Select All Courses</mat-checkbox>
                        </div>
                    </div>
                    <div class="my-4">
        
                        <div class="course-list-container">
                            <div class="course-list-item" *ngFor="let item of filterdCourses">
                                <div class="course-header">
                                    <div class="checked-course-container">
                                        <div>
                                            <mat-checkbox [checked]="checkIfCourseExists(item)" (change)="selectedFilterCourses($event, item)"></mat-checkbox>
                                        </div>
                                        <div class="ml-2">
                                            <div class="course-pill">
                                                <div class="course-pill-text">
                                                    <span><img src="assets/icons/course.svg"></span>&nbsp;<span>Course</span>
                                                </div>
                                            </div>
                                        </div>
        
                                    </div>
        
                                    <div>
                                        <div class="ai-recommened-pill">
                                            <div class="ai-recommened-pill-text">
                                                <span class="ai-loader-icon"><img src="assets/icons/ai-loader.gif"></span>
                                                <span *ngIf="item?.rationale">AI Recommended</span>
                                                <span *ngIf="!item?.rationale">AI Suggested</span>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-title">
                                    <div>
                                        <div>
                                            <span *ngIf="item?.course">{{item?.course}}</span>
                                            <span *ngIf="item?.name">{{item?.name}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-desc">
                                    <div>
                                        <div>
                                            <span *ngIf="item?.rationale">{{item?.rationale | slice:0:300}}</span>
                                            <span *ngIf="item?.description">{{item?.description | slice:0:300}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="relevancy-container" *ngIf="item?.relevancy">
                                        <div class="relevancy">Relevancy</div>
                                        <div class="dash">-</div>
                                        <div class="percentage">{{item?.relevancy}}%</div>
                                    </div>
                                </div>
                                <!-- <div>
                                    <div class="competencies-matched-container">
                                        <div class="competencies-matched">Competencies Matched</div>
                                        <div class="dash">-</div>
                                        <div class="percentage">80%</div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- <div class="course-list-item">
                                <div class="course-header">
                                    <div>
                                        <div class="course-pill">
                                            <div class="course-pill-text">Course</div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="ai-recommened-pill">
                                            <div class="ai-recommened-pill-text">
                                                <span class="ai-loader-icon"><img src="assets/icons/ai-loader.gif"></span>
                                                <span>AI Recommended</span>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="course-title">
                                    <div>
                                        <div>Maternal, Infant And Young Child Nutrition</div>
                                    </div>
                                </div>
                                <div class="course-desc">
                                    <div>
                                        <div>This Course directly addresses a primary responsibility of Anganwandi Care takers,
                                            which is
                                            to provide and educate on nutrition for mother and young children</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="relevancy-container">
                                        <div class="relevancy">Relevancy</div>
                                        <div class="dash">-</div>
                                        <div class="percentage">90%</div>
                                    </div>
                                </div>
                                <div>
                                    <div class="competencies-matched-container">
                                        <div class="competencies-matched">Competencies Matched</div>
                                        <div class="dash">-</div>
                                        <div class="percentage">80%</div>
                                    </div>
                                </div>
                            </div> -->
        
                        </div>
                    </div>
                    <div class="mt-2 sub-heading" *ngIf="filterdCourses?.length === 0"> 
                       <p> No Data Found</p>
                    </div>
        
                </mat-card>
            </div>
        </div>
    </div>
    
</div>
</div>

<div class="overlay-loader" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>

