<div class="container" #pdfContent>
    <!-- <input class="btn-active" type="button" value="Download as PDF" (click)="downloadPDF()" /> -->
    <div class="logo-container">
        <div>
            <span class="ai-loader-icon-medium"><img src="assets/icons/ai-loader.gif"></span>
        </div>
        <div>
            <h2 class="highlight-ai">
                <span>AI Driven CBP</span>
            </h2>
        </div>
        <div class="sub-heading">
            <p>Build Your Capcity With Customized Role Mapping</p>
        </div>
    </div>
    <mat-card class="mt-2" [formGroup]="roleMappingForm">
        <div class="depatment-container">
            <div class="section-header">
                <div class="sub-heading">
                    <p>Choose Your Department</p>
                </div>
                
            </div>

            <div class="radio-group mt-4">
                <mat-radio-group class="radio-btn-group" formControlName="ministryType"
    [(ngModel)]="selectedMinistryType" (change)="onMinistryTypeChange($event)">
    
    <!-- Left radio button -->
    <mat-radio-button value="center" class="radio-btn left-radio">
        <span class="radio-label" >
            <mat-icon class="radio-icon" [ngClass]="selectedMinistryType === 'center'? 'checked-label':''">domain</mat-icon> 
            <span [ngClass]="selectedMinistryType === 'center'? 'checked-label':''">Center</span>
        </span>
    </mat-radio-button>

    <!-- Right radio button -->
    <mat-radio-button value="state" class="radio-btn right-radio">
        <span class="radio-label">
            <mat-icon class="radio-icon" [ngClass]="selectedMinistryType === 'state'? 'checked-label':''">location_on</mat-icon> 
            <span [ngClass]="selectedMinistryType === 'state'? 'checked-label':''">State</span>
        </span>
    </mat-radio-button>

</mat-radio-group>
            </div>
            <div class="mt-4">
                <label class="label">
                    <span *ngIf="selectedMinistryType === 'center'">Ministry</span>
                    <span *ngIf="selectedMinistryType === 'state'">State</span>
                </label>
                <div class="mt-2">
                    <mat-form-field appearance="fill" style="background: white; border-radius: 25px; padding: 0 12px; border: 1px solid #ccc;">
                        <mat-select [placeholder]="selectedMinistryType === 'center' ? 'Select Ministry':'Select State'"
                            (selectionChange)="onMinistryChange($event)" formControlName="ministry"
                            style="border-radius: 25px; background: white;">
                            <mat-option [value]="item?.id" *ngFor="let item of ministryData">{{item?.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="mt-4" *ngIf="roleMappingForm.get('ministryType')?.value === 'state'">
                <label class="label">Department</label>
                <div class="mt-2">
                    <mat-form-field appearance="fill" style="background: white; border-radius: 25px; padding: 0 12px;border: 1px solid #ccc;">
                        <mat-select placeholder="Select Department" formControlName="departments"
                            style="border-radius: 25px; background: white;">
                            <mat-option [value]="item?.id"
                                *ngFor="let item of departmentData">{{item?.name}}</mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
            <!-- <div class="mt-4">
            <label class="label">Sector</label>
            <div>
                <mat-form-field appearance="fill" style="background: white; border-radius: 25px; padding: 0 12px;">
                    <mat-select placeholder="Select Sector" multiple formControlName="sectors"
                        style="border-radius: 25px; background: white;">
                        <mat-option [value]="item?.value"
                            *ngFor="let item of sectorData">{{item?.value}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>

        </div> -->

            <div class="mt-4 additional-details" *ngIf="roleMappingForm.get('ministryType')?.value === 'state'">
                <textarea rows="5" placeholder="Additional details" formControlName="additionalDetails"></textarea>
            </div>
            <div class="mt-4">
                <input [disabled]="roleMappingForm?.invalid"
                    [ngClass]="roleMappingForm?.invalid ? 'btn-disable':'btn-active'" type="button"
                    value="Generate Role Mapping" (click)="onGenerateRoleMapping()" />
            </div>
        </div>
    </mat-card>
</div>

<div class="overlay-loader" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>