<div class="view-cbp-plan">
    <div class="popup-container">
    <div class="popup-header">
        <div>
            <div class="heading">Edit Role Mapping</div>
        </div>
        <div class="cursor-pointer" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </div>
    </div>
    <div class="section-container" [formGroup]="cbpForm">
        <mat-card class="mt-2">
            <div class="section-header">
                <input type="text" formControlName="designation_name" [value]="planData?.designation_name"
                    style="border-radius: 25px; border: 1px solid #ccc; padding: 8px 12px; width: 100%;">
            </div>

            <div class="competency-container mt-2">
                <div class="outside-layer-total">
                    <div class="inside-layer">
                        Total Competencies
                    </div>
                    <div class="count">
                        {{competenciesCount?.total}}
                    </div>
                </div>
                <div class="outside-layer-behavioral">
                    <div class="inside-layer">
                        Behavioural Competencies
                    </div>
                    <div class="count">
                        {{competenciesCount?.behavioral}}
                    </div>
                </div>
                <div class="outside-layer-functional">
                    <div class="inside-layer">
                        Functional Competencies
                    </div>
                    <div class="count">
                        {{competenciesCount?.functional}}
                    </div>
                </div>
                <div class="outside-layer-domain">
                    <div class="inside-layer">
                        Domain Competencies
                    </div>
                    <div class="count">
                        {{competenciesCount?.domain}}
                    </div>
                </div>
            </div>
            <div class="mt-2 section">
                <div class="sub-heading">
                    <p>Wing/Division</p>
                </div>
                <div class="mt-2">
                <input type="text" formControlName="wing_division_section" [value]="planData?.wing_division_section"
                    style="border-radius: 25px; border: 1px solid #ccc; padding: 8px 12px; width:100%">
                </div>
            </div>
            <div class="mt-2 section">
                <div class="sub-heading">
                    <p>Rols & Responsibilities</p>
                </div>
                <div class="mt-4 additional-details">
                    <textarea class="custom-textarea" formControlName="role_responsibilities_text" rows="5" placeholder="Additional details" [value]="planData?.role_responsibilities?.join('\n')"></textarea>
                </div>
            </div>
            <div class="mt-2 section">
                <div class="sub-heading">
                    <p>Competency</p>
                </div>
                <div class="search-filter-section mt-2">
                    <div class="search flex margin-right-m">
                        <!-- <label class="label">Search</label> -->
                        <div>
                            <div class="search-container">
                                <div class="rsearch">                                    
                                    <input formControlName="competencySearchText" style="border-radius: 25px; border: 1px solid #ccc; padding: 8px 32px;"
                                        class="sinput color-60 w-full" [(ngModel)]="searchText"
                                        (keyup.enter)="searchData()" label="" (input)="applyFilter()"
                                        placeholder="Add Competency" type="Standard">
                                </div>
                                <!-- <div class="pl-2">
                                    <input class="btn-disable" type="button" value="Search" />
                                </div> -->
                            </div>


                        </div>
                    </div>
                    <div class="filter-section flex">
                        <div>
                            <!-- <label class="label">Filter by competency type</label> -->
                            <div>
                                <mat-form-field appearance="fill"
                                    style="background: white; border-radius: 25px; padding: 0 12px;">
                                    <mat-select formControlName="competencyType" [(value)]="selectedValue" placeholder="Select Competency"
                                        style="border-radius: 25px; background: white;">
                                        <mat-option [value]="'behavioral'">Behavioral</mat-option>
                                        <mat-option [value]="'functional'">Functional</mat-option>
                                        <mat-option [value]="'domain'">Domain</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input style="margin-left: 2px;" [disabled]="searchText.trim().length && selectedValue.trim().length ? false : true" [ngClass]="searchText.trim().length && selectedValue.trim().length  ? 'btn-active':'btn-disable'" type="button" value="Add" (click)="addCompetency()"/>
                    </div>
                    
                </div>
                <div>
                    <div class="competency-sub-heading ">Behavioral Competencies</div>
                    <ul class="competency-list">
                        <li class="behavioural-pill" *ngFor="let comp of getCompetenciesByType('Behavioral')">
                           <span class="competency-text"> {{ comp.theme }} </span>
                           <span class="cursor-pointer" (click)="deleteCompetency(comp)"> <mat-icon>close</mat-icon> </span>
                          </li>
                    </ul>
                </div>
                <div >
                    <div class="competency-sub-heading ">Functional Competencies</div>
                    <ul class="competency-list">
                        <li class="functional-pill" *ngFor="let comp of getCompetenciesByType('Functional')">
                            <span class="competency-text"> {{ comp.theme }} </span>
                           <span class="cursor-pointer" (click)="deleteCompetency(comp)"> <mat-icon>close</mat-icon> </span>
                          </li>
                    </ul>
                </div>
                <div>
                    <div class="competency-sub-heading">Domain Competencies</div>
                    <ul class="competency-list">
                        <li class="domain-pill" *ngFor="let comp of getCompetenciesByType('Domain')">
                            <span class="competency-text"> {{ comp.theme }} </span>
                           <span class="cursor-pointer" (click)="deleteCompetency(comp)"> <mat-icon>close</mat-icon> </span>
                          </li>
                    </ul>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="popup-footer">
        <div>
            <input class="btn-active" type="button" value="Cancel" (click)="cancelForm()" />
        </div>
        <div>
            <input class="btn-active" type="button" value="Save" (click)="saveRoleMapping()"/>
        </div>
    </div>
</div>
</div>

<div class="overlay-loader" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>