<div class="view-cbp-plan">
    <div class="popup-container">
        <div class="popup-header">
            <div>
                <div class="heading">Add Personilisation</div>
            </div>
            <div class="cursor-pointer" (click)="closeDialog()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
    </div>
    <div class="section-container">
        <div class="mt-2 section">
            <div class="sub-heading">
                <p>Education Qualification</p>
            </div>
            <div class="mt-4 additional-details">
                <textarea class="custom-textarea"  rows="5" placeholder="Education Qualification"></textarea>
            </div>
        </div>
        <div class="mt-2 section">
            <div class="sub-heading">
                <p>Past Experience</p>
            </div>
            <div class="mt-4 additional-details">
                <textarea class="custom-textarea"  rows="5" placeholder="Past Experience"></textarea>
            </div>
        </div>
        <div class="mt-2 section">
            <div class="sub-heading">
                <p>Last 3 Posting</p>
            </div>
            <div class="mt-4 additional-details">
                <textarea class="custom-textarea"  rows="5" placeholder="Last 3 Posting"></textarea>
            </div>
        </div>
        <div class="mt-2 section">
            <div class="sub-heading">
                <p>Last 2-3 training experience</p>
            </div>
            <div class="mt-4 additional-details">
                <textarea class="custom-textarea"  rows="5" placeholder="Last 2-3 training experience"></textarea>
            </div>
        </div>
        <div class="mt-2 section">
            <div class="sub-heading">
                <p>Years of experience</p>
            </div>
            <div class="additional-details mt-4">
                <input type="text" placeholder="Years of experience"
                    style="border-radius: 25px; border: 1px solid #ccc; padding: 8px 12px; width: 100%;font-size: 14px;font-family: 'Lato';">
            </div>
        </div>
        
    </div>
    <div class="popup-footer">
        <div>
            <input class="btn-active" type="button" value="Cancel" (click)="cancelForm()" />
        </div>
        <div>
            <input class="btn-active" type="button" value="Save" (click)="saveRoleMapping()"/>
        </div>
    </div>
</div>