.file-upload-box {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
  }
  .primary-btn {
    background-color: #1B4CA1;
    color: #fff;
}  