<h2 mat-dialog-title>Upload Document</h2>

<mat-dialog-content>

  <!-- <mat-form-field appearance="fill" style="width: 100%; border: 1px solid #000;">
    <input
      matInput
      [(ngModel)]="documentName"
      placeholder="Document Name"
      [disabled]="totalFileCount >= MAX_FILES"
    >
  </mat-form-field> -->

  <!-- Upload Box -->
  <div
    class="file-upload-box"
    style="margin-top: 30px;"
    [class.disabled]="totalFileCount >= MAX_FILES"
    (click)="totalFileCount < MAX_FILES && fileInput.click()"
  >
    <input
      type="file"
      #fileInput
      hidden
      multiple
      accept=".pdf,.doc,.docx"
      (change)="onFileSelected($event)"
    >

    <p *ngIf="totalFileCount < MAX_FILES">
      Click to select files or drag and drop
    </p>

    <p *ngIf="totalFileCount >= MAX_FILES" class="error-text">
      Maximum 10 documents allowed
    </p>

    <p><small>PDF, DOC, DOCX</small></p>
  </div>

  <!-- Selected Files List -->
  <div *ngIf="selectedFiles.length > 0" class="file-list" style="margin-top:10px">
    <p><strong>Selected Files</strong></p>

    <div class="file-item" *ngFor="let file of selectedFiles; let i = index">
      <span>{{ file.name }}</span>
      <span (click)="removeFile(i)">
        <mat-icon class="file-cross-icon" matTooltip="Remove" matTooltipPosition="above">close</mat-icon>
      </span>
    </div>
  </div>

</mat-dialog-content>

<div class="disclaimer-text">
  <p>Disclaimer: Please do not upload any confidential documents.</p>
</div>

<mat-dialog-actions align="center" style="margin: 20px 0;">
  <button mat-button mat-dialog-close>Cancel</button>

  <button class="primary-btn cursor-pointer"
    mat-raised-button
    color="primary"
    (click)="upload()"
    [disabled]="selectedFiles.length === 0"
  >
    Upload
  </button>
</mat-dialog-actions>

<div class="overlay-loader" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
