<!-- VIEW COURSE DELETE CONFIRMATION -->
<ng-container *ngIf="isViewCourse; else regenerateCBP">
    <!-- 👇 PUT YOUR "Delete Course" HTML HERE -->
    <!-- Example structure only -->
    <div class="view-cbp-plan">
      <div class="popup-container">
        <div class="popup-header">
          <div class="heading">Delete Course</div>
          <div class="cursor-pointer" (click)="cancelCourse()">
            <mat-icon>close</mat-icon>
          </div>
        </div>
  
        <div class="section-container mt-4">
          <div class="progress-icon">
            <img src="assets/icons/info.svg" style="scale: 2;margin: 10px;">
          </div>
          <div>
            Are you sure you want to delete this course?
          </div>
        </div>
  
        <div class="popup-footer mt-4">
          <input class="btn-active" type="button" value="No" (click)="cancelCourse()" />
  <input class="btn-active" type="button" value="Yes" (click)="confirmDelete()" />
        </div>
      </div>
    </div>
  </ng-container>
  
  <!-- REGENERATE CBP -->
  <ng-template #regenerateCBP>
    <!-- 👇 YOUR EXISTING HTML (you already shared this) -->
    <div class="view-cbp-plan">
      <div class="popup-container">
        <div class="popup-header">
          <div>
            <div class="heading">Regenerate CBP</div>
          </div>
          <div class="cursor-pointer" (click)="cancel('cross')">
            <mat-icon>close</mat-icon>
          </div>
        </div>
  
        <div class="section-container mt-4">
          <div class="progress-icon">
            <img src="assets/icons/info.svg" style="scale: 2;margin: 10px;">
          </div>
  
          <div class="mt-2">
            CBP is already available ,
            Do you want to Regenerate the Capacity building plan ?
          </div>
        </div>
  
        <div class="popup-footer mt-4">
          <input class="btn-active-cancel" type="button" value="View Existing CBP" (click)="cancel('button')" />
          <input class="btn-active" type="button" value="Yes" (click)="regenerateRoleMapping()" />
        </div>
      </div>
    </div>
  </ng-template>