<div class="view-cbp-plan">
    <div class="popup-container">
        <div class="popup-header">
            <div>
                <div class="heading">Regenerate Role Mapping</div>
            </div>
            <div class="cursor-pointer" (click)="cancel()">
                <mat-icon>close</mat-icon>
            </div>
        </div>
        <div class="section-container mt-4">
            <div class="progress-icon">
                <img src="assets/icons/info.svg" style="scale: 2;margin: 10px;">
            </div>
            <div class="heading">
                <div>Regenerate Role Mapping</div>
            </div>
            <div class="">
                <div>Are You Sure to Regenerate Role Mapping</div>
            </div>

        </div>
        <div class="popup-footer mt-4">
            <div>
                <input class="btn-active" type="button" value="No" (click)="cancel()" />
            </div>
            <div>
                <input class="btn-active" type="button" value="Yes" (click)="regenerateRoleMapping()" />
            </div>
        </div>
    </div>
</div>
<!-- <div class="overlay-loader" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div> -->